<%- include ("./includes/head.ejs") %>
<div class="text-center">
  <h4 class="m-4">page dose not found</h4>
  <a class="btn btn-outline-info" href="/"
    >back to main page <span class="fa fa-heart" style="color: red"></span
  ></a>
</div>
</body>
</html>
